.hidden {
    display: none !important;
}

.picture {
    margin: 0.6%;
    height: 90px;
    width: 10%;
    background-color: gray;
    position: relative;
    display: flex;
    border-radius: 8px;
    /* padding: 3px; */
}

.picture img {
    border-radius: 8px;
}

.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
}

.btn {
    margin-left: 25%;
    margin-top: 2.3%;
}

.btn button a:hover {
    text-decoration: none;
}

.tbl {
    /* background-color: blue; */
    height: 100px;
    /* color: red; */
    font-family: sans-serif;
    color: rgb(97, 93, 93);
    font-weight: bolder;
}

.tbldiv {
    /* background-color: wheat; */
    width: 50%;
    /* padding-top: 5px; */
}

.flexchild {
    width: 7%;
    height: 10%;
    background-color: gray;
    border-radius: 8px;
    margin: 0.3%;
    margin-bottom: 1%;
    /* position: relative; */
}

.flexchild img {
    border-radius: 8px;
}

.catcontainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
    position: relative;
    width: 97%;
    padding: 0.4%;
    /* border-radius: 10px; */
    /* margin-top: 200px; */
}

.search {
    width: 100%;
}

.heading {
    width: 100%;
    /* background-color: red; */
    /* text-align: left; */
}

.heading h1 {
    color: rgb(97, 93, 93);
    font-weight: 700;
    font-size: 4rem;
}

.modal {
    width: 30%;
    height: 10%;
    margin-top: 14%;
    margin-left: calc(45% - 10%);
}

.linkcls {
    text-decoration: none !important;
}

.modaldes {
    color: rgb(97, 93, 93);
    width: 60%;
    margin-left: 3%;
}

.modalmedia {
    width: 40%;
    height: 130px;
}

.productflex {
    display: flex;
    height: 40%;
    padding: 1%;
    color: white;
    background-color: rgb(97, 93, 93);
}

.flextest {
    display: flex;
}

.closebtn {
    /* background-color: white; */
    width: 5%;
    margin-left: 68%;
    padding: 1%;
    padding-left: 0.6%;
    padding-top: 0.8%;
    font-size: 2rem;
    text-align: right;
}

.closebtn:hover {
    background-color: rgb(73, 71, 71);
}

.dropdown {
    /* margin-left: 5%; */
    width: 30%;
}

.proname {
    min-width: 200px;
}

.propic {
    font-weight: 600;
}

.propic img {
    display: inline-flex;
    margin-right: 3%;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.propicdiv {
    display: inline-flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* flex-wrap: nowrap; */
}

.addsellerbtn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.addbtndiv {
    margin-top: 2%;
    margin-left: 38%;
}

.inpts {
    margin: 2%;
    margin-right: 0%;
    margin-top: 0.5%;
    width: 47%;
}

.formdiv {
    width: 100%;
    /* height: 50% !important; */
    /* min-width: 1000px; */
    /* background-color: red; */
}

.btndiv {
    /* background-color: red; */

    margin-top: 50px;
    text-align: right;
    padding-right: 2%;
    /* margin: 0px auto; */
    /* position: relative;
    right: 0px; */
}

.uigrids {
    margin-bottom: 0% !important;
}

.formdivsec {
    /* margin-left: 0%; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 93vh !important;
}
.mapcont {
    /* background-color: red;
    height: 59.2%; */
    width: 96%;
    min-width: 330px;
    margin-left: 2%;
    /* height: 54.4vh !important; */
}

.mapdiv {
    /* float: right; */
    /* margin-left: 30%; */
    position: relative !important;
    /* display: flex; */
    text-align: right;
    justify-content: flex-end;
    width: 100% !important;
    min-width: 330px !important;
    height: 55.4vh !important;
    /* height: inherit !important; */
    background-color: rgb(97, 93, 93);
    border-radius: 5px;
    /* margin-left:auto;
    margin-right: 0 ; */
    margin-top: 5px;
}

.inphidden {
    display: none;
}

.filebtn {
    margin-top: 2.5%;
    margin-left: 2%;
    /* width: 47%; */
    /* height: 50px; */
}

.submitbtn {
    width: 30%;
    margin-left: 10%;
}

.umagescontiner {
    display: flex;
    flex-wrap: wrap;
}

.images {
    width: 20%;
    margin-left: 2.5%;
    min-width: 110px;
    height: 25vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red;/ */


    /* padding-top: 10%; */
    /* text-align: center;
    vertical-align: middle; */
    /* align-content: center; */
    /* background-color: gainsboro; */
}
.storeimg{
    min-width: 110px;
    height: 25vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 29%;
    width: 20%;

}
.hidden1 {
    display: none;
   
}
.imagetag{
    width: 100%;
    margin-left: 4%;
    height: 25vh;
}

.hidden2 {
    display: none;
}